
h1{
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
    color: floralwhite;
    margin-bottom: 2%;
}

h1.nottoplabel{
    margin-top: 4%;
}

p{
    color: floralwhite;
    font-size: 150%;
    line-height: 30px;
    font-weight: 400;
}
