
.toppanel {
    margin-top: 10%;
    overflow: hidden;
    background-color: rgb(22, 22, 22);
}

#title{
    font-size: 500%;
}

#degree{
    text-align: center;
    font-size:  125%;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    color: floralwhite;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}

body {
    background-color: rgb(22, 22, 22);
    display: grid;
    place-items: center center;
    font-family:  'Poppins',sans-serif;
}

.cards{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow:  0 0 30px rgba(0,0,0,0.18);
    position: relative;
    transition-duration: 0.15s;
}

.card:hover{
    position: relative;
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.03);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}

.container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity:  0.7;
}

.details{
    padding: 20px 10px;
}

.details>h3{
    color: #ffff;
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0 15px 0;
}

.details>p{
    color: #a0a0a0;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
}

.socialImg{
    position: relative;
    transition-duration: 0.15s;
    align-self: right;
    float:right;
    width: 10%;
    height: 10%;
}

.socialImg:hover{
    position: relative;
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.09);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}